# Core
pydantic>=2.0,<3
redis>=4.5.0
boto3==1.34.162
kafka-python==2.0.2
psycopg2-binary==2.9.9

# DB
SQLAlchemy>=2.0

# Utilities (логирование/таймштампы/типизация уже в stdlib, можно добавить позже)
python-dateutil>=2.8.2

# (опционально) если будете использовать dotenv в dev
python-dotenv>=1.0.0
